body {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 23px;
}
nav a {
    display: block;
    padding: 6px;
    font-size: 18px;
}
p {
    font-size: 14px;
    font-weight: normal;
}
.subf {
    font-size: 18px;
}
header,
footer,
#DNY,
a {
    color: white;
}
header,
#DNY {
    background-image: url("../images/flatiron.png");
    background-size: cover;
}
footer {
    background-color: dimgray;
    text-align: left;
    overflow: auto;
}
.copyright,
.subf {
    float: left;
}
.copyright {
    font-size: 11px;
}