body {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 23px;
}
nav a {
    display: block;
    padding: 6px;
    font-size: 18px;
}
p {
    font-size: 14px;
    font-weight: normal;
}
.subf {
    font-size: 18px;
}
.info,
a {
    color: white;
}
#home,
#DNY {
    background-image: url("../images/flatiron.png");
    background-size: cover;
}
#sub-footer {
    background-color: dimgray;
    text-align: left;
}