body {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 23px;
}
p {
    font-size: 14px;
    font-weight: normal;
}
#nav {
    font-size: 18px;
}
.info {
    color: white;
}